:deep(.van-nav-bar__title) {
  font-weight: bold;
  font-size: 17px;
}
.share{
  width: 17px;
  height: 18px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  h1{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    img{
      width: 11px;
      margin-right: 5px;
    }
  }
  .menu-btn{
    border: solid 1px #ececec;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    position: relative;
    img{
      width: 20px;
      margin: 0 8px;
    }
  }
  .menu-btn::after{
    content: '';
    width: 1px;
    height: 50%;
    background: #cecece;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#preview-body{
  padding: 0 15px;
  background: #faf9f9;
  padding-bottom: 150px;
  padding-top: 15px;
  .notice-bar{
    padding: 0;
    padding-top: 0px;
    padding-bottom: 8px;
    background: #fdfdfd;
    margin: 0 -15px;
    margin-top: -15px;
    .van-notice-bar{
      height: 35px;
      padding: 0 12px;
    }
  }
  .id-box{
    background-image: url('../../assets/idBg.jpg');
    background-size: 100%;
    border-radius: 8px;
    overflow: hidden;
    .id-wrap{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10px;
    }
    .icon-nation{
      margin-right: 10px;
      img{
        width: 30px;
        height: 30px;
      }
    }
    .info{
      text-align: left;
      flex: 1;
      h1{
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 15px;
        margin-top: 3px;
        img{
          width: 20px;
          margin-left: 5px;
        }
      }
      .name{
        margin-bottom: 15px;
      }
      .title{
        font-size: 12px;
        color: #676a6f;
        margin-bottom: 5px;
      }
      .value{
        font-size: 17px;
        font-weight: bold;
        color: #333333;
      }
      .id-value{
        font-weight: bold;
        letter-spacing: 0.3px;
      }
    }
    .icon-back{
      margin-right: 20px;
      margin-top: 3px;
      img{
        width: 7px;
      }
    }
    .btn-box{
      background: #fff;
      padding: 15px;
      .btn-wrap{
        border: solid 1px #bed5fb;
        border-radius: 5px;
        display: flex;
        height: 35px;
        position: relative;
        .btn-item{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: #3875f6;
        }
      }
      .btn-wrap::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 40%;
        background: #3875f6;
        opacity: 0.2;
      }
    }
    .btn-box2{
      display: flex;
      justify-content: center;
      background: rgba(113, 113, 113, 0.1);
      position: relative;
      .btn-item{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        font-size: 15px;
        img{
          width: 20px;
          margin-right: 10px;
        }
      }
    }
    .btn-box2::after{
      content: '';
      width: 1px;
      height: 30%;
      background: #ae9ea9;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .menu-box{
    background: #fff;
    margin-top: 15px;
    padding: 0 10px;
    border-radius: 8px;
    .menu-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 0.5px #eeeeee;
      height: 45px;
      position: relative;
      padding-right: 30px;
      h1{
        font-size: 17px;
        font-weight: normal;
        color: #000;
      }
      p{
        font-size: 14px;
        color: #000;
      }
      img{
        width: 8px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
      }
    }
  }
  .tip{
    color: #3477f6;
    font-size: 14px;
    margin: 10px;
  }
}

.popup-box{
  width: 300px;
}
